.inputParent {
  display: flex;
  justify-content: center;
}
.input {
  display: flex;
  justify-content: center;
}

.divForKeyboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 150px 100px;
}
.key {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: aqua;
  width: 40px;
  height: 40px;
}