body {
  padding: 0 90px;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: #333;
}
.start-screen__difficult {
  text-align: center;
  margin: 20px 0;
}
.start-screen__difficult-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* padding: 20px; */
  gap: 20px;
}
.start-screen__difficult-item {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
  min-height: 20px;
  width: 80%;
  max-width: 250px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;

  transition: all 0.3s ease;
  cursor: pointer;
}
.start-screen__difficult-item:hover {
  background-color: #0056b3;
}
.start-screen__difficult-item--active {
  background-color: #28a745;
}

.start-button {
  display: flex;
  justify-content: center;
  text-align: center;

  margin: 0 auto;
  padding: 25px 0;
  margin-top: 40px;
  margin-bottom: 20px;
  min-height: 20px;
  width: 80%;
  max-width: 300px;

  font-weight: bold;
  border-radius: 8px;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.start-button:hover {
  background-color: #b02a37;
}

.level-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 8px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  margin: 20px 0;
}
.level-information__difficult-items {
  display: flex;
  gap: 20px;
}
.level-information__difficult-item {
  font-size: 18px;
  padding-left: 12px;
  position: relative; 
}
.level-information__difficult-item::before {
  position: absolute;
  content: '';

  top: 33%;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #dc3545;
}
.level-information__difficult-item--active::before {
  background-color: #28a745;
}


.option {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #007bff;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
}


.option__new-game {
  background-color: #17ff20;
  color: #fff;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  cursor: pointer;
}
.option__new-game:hover {
  background-color: #13cc1a;
}
.option__new-game.disabled {
  background-color: #c4c4c4; 
  color: #7f7f7f;
  cursor: default; 
}
.option__repeat-sequence {
  background-color: #17ff20;
  color: #fff;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.option__repeat-sequence.disabled {
  background-color: #c4c4c4;
  color: #7f7f7f;
  cursor: default;
}


.option__next-round {
  background-color: #17ff20;
  color: #fff;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.option__next-round.disabled {
  background-color: #c4c4c4; 
  color: #7f7f7f;
  cursor: not-allowed;
}

.output__block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: black;
  margin: 15px 0;
   display: none;
}
.output {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 45px;
 
}


.input__block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
}
.input {
  color: #000;
  font-size: 32px;
  text-align: center;
}
.input__block-error {
  background-color: #dc3545;
  color: #fff;
}

.divForKeyboard {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 90%;
  padding: 20px;
}
.key {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #007bff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  text-transform: uppercase;
}

.key:hover {
  background-color: #007BFF;
  color: #fff;
}
.key.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.key.highlight {
  background-color: #28a745;
  color: #fff;
}
.key--highlighted {
  background-color: rgb(122, 10, 122); 
  color: #fff;
}



@media (max-width: 800px) {
  body {
    padding: 0 10px;
  }
  .start-screen__difficult-item,
  .start-button {
    width: 90%;
    max-width: 160px;
    font-size: 12px;
    padding: 10px;
  }

  .level-information {
    flex-direction: column;
    align-items: flex-start;
    
    padding: 10px;
    gap: 20px
  }

  .level-information__difficult-items {
    gap: 10px;
  }

  .input__block {
    height: 80px;
  }

  .input {
    font-size: 18px;
  }


  .divForKeyboard {
    padding: 15px;
    gap: 8px;
  }

   .divForKeyboard .key {
    width: 40px;
    height: 40px;
    font-size: 12px;
  } 
}

@media (max-width: 400px)  {
  .option {
    flex-direction: column;
    gap: 10px;
  }
}