body {
  padding: 0;
  margin: 0;
}

.level-information {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;  
  background-color: #ccc;
}
.level-information__difficult-items {
  display: flex;
  gap: 20px;
}
.level-information__difficult-item {
  font-size: 18px;
  padding-left: 12px;
  position: relative; 
  cursor: pointer;
}
.level-information__difficult-item::before {
  position: absolute;
  content: '';

  top: 30%;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c33636;
}
.level-information__difficult-item--active::before {
  background-color: #17ff20;
}



.output__block {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: black;
  margin: 15px 0;
}
.output {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 45px;
}




.input__block {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: black;
}
.input {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 45px;

}

.divForKeyboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 100px;
}
.key {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: aqua;
  width: 40px;
  height: 40px;
}


